<tr>
    <td><span style="font-size: 1.6em"><strong>{{ label }}</strong></span></td>
</tr>

<tr>
    {% if data|length %}
        <td>
            <table class="statement">
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            {{ row.name }}

                            {% if row.date %}
                                <div class="extra_info">
                                    <em>
                                        [{% ifequal row.model_name "bill" %}Due:{% else %}Deposited:{% endifequal %}
                                        {{ row.date }}]
                                    </em>
                                </div>
                            {% endif %}

                            {% if row.options %}
                                <ul class="extra_info">
                                    {% for option in row.options.all %}
                                        <li title="{{ option.description }}">{{ option.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>

                        <td style="text-align: right;">
                            {{ row.amount }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <table class="totals">
                <tr>
                    <td class="totals"><strong>Total =</strong></td>
                    <td style="text-align: right;"><strong>{{ total }}</strong></td>
                </tr>
            </table>
        </td>
    {% else %}
        <td>No items</td>
    {% endif %}
</tr>