<tr>
    <td style="font-size: 130%;"><strong>{{ label }}</strong></td>
</tr>

<tr>
    {% if data|length %}
        <td>
            <table class="statement">
                {% for row in data %}
                    <tr>
                        <td class="{% cycle 'row1' 'row2' as rowcolors %}">
                            <div>
                                <div class="name">{{ row.name }}</div>

                                {% if row.date %}
                                    {% if row.model_name == "bill" and row.total %}
                                        <div class="total">(Total: {{ row.total }})</div>
                                    {% endif %}

                                    {% if row.paid_date %}
                                        <div class="paid">[Paid: {{  row.paid_date }}]</div>
                                    {% elif row.model_name == "bill" %}
                                        <div class="due">[Due: {{ row.date }}]</div>
                                    {% else %}
                                        <div class="paid">[Deposited: {{  row.date }}]</div>
                                    {% endif %}
                                {% endif %}
                            </div>

                            {% if row.options %}
                                <ul class="options">
                                    {% for option in row.options.all %}
                                        <li class="option" title="{{ option.description }}">{{ option.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>

                        <td class="{{ rowcolors }}" style="text-align: right;">
                            {{ row.amount }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <table class="totals">
                <tr>
                    <td><strong>Total =</strong></td>
                    <td style="width: 10%;"><strong>{{ total }}</strong></td>
                </tr>
            </table>
        </td>
    {% else %}
        <td>No items</td>
    {% endif %}
</tr>
