<tr>
    <td style="font-size: 130%;"><strong>{{ label }}</strong></td>
</tr>

<tr>
    {% if data|length %}
        <td>
            <table class="statement">
                {% for row in data %}
                    <tr>
                        <td class="{% cycle 'row1' 'row2' as rowcolors %}">
                            <span>
                                {{ row.name }}

                                {% if row.date %}
                                    {% if row.paid_date %}
                                        <span class="paid">[Paid: {{  row.paid_date }}]</span>
                                    {% elif row.model_name == "bill" %}
                                        <span class="due">[Due: {{ row.date }}]</span>
                                    {% else %}
                                        <span class="paid">[Deposited: {{  row.paid_date }}]</span>
                                    {% endif %}
                                {% endif %}
                            </span>

                            {% if row.options %}
                                <ul class="options">
                                    {% for option in row.options.all %}
                                        <li class="option" title="{{ option.description }}">{{ option.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>

                        <td class="{{ rowcolors }}" style="text-align: right;">
                            {{ row.amount }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <table class="totals">
                <tr>
                    <td><strong>Total =</strong></td>
                    <td style="width: 10%;"><strong>{{ total }}</strong></td>
                </tr>
            </table>
        </td>
    {% else %}
        <td>No items</td>
    {% endif %}
</tr>
