{% extends "base.html" %}
{% load static %}

{% block title %}Finances: {% if object %}Update{% else %}Create{% endif %} Statement{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-impromptu.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popr.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/busy.css' %}" />

    <style>
        div.jqi {
            width: 500px;
        }

        .missing_section_header {
            margin-bottom: -0.5em;
            color: red;
        }

        strong {
            font-weight: bold !important;
        }

        .ui-datepicker-trigger {
            margin-left: 0.5em;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery-impromptu.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popr.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/speakingurl/13.0.0/speakingurl.min.js"></script>

    <script type="text/javascript">
        /*
            This value is used to give new line items a unique value. That way, we can have multiple items in the
            same section (like bills) with the exact same name. Existing items use the database row ID value, this
            is only for new items so the values will be negative as to not clash with the database IDs.
         */
        var globalItemID = -1;

        // Options to use for all date pickers
        var datePickerOptions = {
            buttonImage: "{% static 'img/calendar.gif' %}",
            buttonImageOnly: true,
            buttonText: "Select date",
            onSelect: function(dateText, inst) {
                if (dateText !== inst.lastVal) {
                    $(this).change();
                }
            },
            showOn: "button"
        };

        $(document).ready(function() {
            var dateField = $("#id_statement-date");

            dateField.datepicker(datePickerOptions);

            dateField.change(function() {
                submitButtonStatus();
            });

            $(".popr").popr();

            // Click on the green plus sign to popup a form to fill out
            $(document).on('click', '.popr-item', function() {
                var pk = $(this).data("pk");
                var sectionInfo = {
                    "pk": pk,
                    "table_type": $(this).data("type"),
                    "total_forms": $("#id_" + $(this).data("type") + "-TOTAL_FORMS").val()
                };

                $.post(
                    "{% url 'get_statement_section_form' %}",
                    sectionInfo,
                    function(encoded) {
                        var info = JSON.parse(encoded);

                        showEditPopup(pk, info, sectionInfo, info["table_type"], false);
                    }
                ).fail(function(jqXHR, textStatus, errorThrown) {
                    $.prompt.close();
                    alert(
                        "Could not retrieve the information.\n\nError: " + jqXHR.responseText
                    );
                });
            });

            $('#confirmDialog').dialog({
                autoOpen: false,
                buttons: {
                    "{% if object %}Update{% else %}Create{% endif %} Statement": function () {
                        $(this).dialog("close");
                        $("#busy_text").text("{% if object %}Updating{% else %}Creating{% endif %} Statement");
                        $("body").addClass("busy");
                        $("form").submit();
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                },
                modal: true,
                resizable: false,
                width: 500
            });

            $("#submit_button").click(function(e) {
                var missing = {};

                // Figure out which items types weren't used so the user can be told what's missing from the statement
                $(".popr-item[data-pk!=''][data-show='1']").each(function(index, poprItem) {
                    var type = $(poprItem).data("type");

                    if(!(type in missing)) {
                        missing[type] = [];
                    }

                    missing[type].push($(poprItem).text().trim());
                });

                var keys = Object.keys(missing);

                if (keys.length > 0) {
                    e.preventDefault();

                    var html = "";
                    var mapping = {"account": "Accounts", "bill": "Bills", "income": "Income"};

                    $.each(keys, function(index, key) {
                        html += "<h4 class='missing_section_header'>" + mapping[key] + "</h4><ul>";

                        $.each(missing[key], function(index2, entry) {
                            html += "<li>" + entry + "</li>";
                        });

                        html += "</ul>";
                    });

                    $("#missing_entries").html(html);
                    $('#confirmDialog').dialog('open');
                } else {
                    $("body").addClass("busy");
                }
            });

            /*
                Need to redo the buttons if we have any form data. The easiest thing to do is to call the
                validation function and let the code create the button text like it did the first time. There
                should be no errors otherwise the form data wouldn't be here to collect.
            */
            $.each(["account", "bill", "income"], function(index, tableType) {
                restoreButtons(tableType);
            });
        });

        // Create the HTML for the popup
        function createPopupHTML(pk, form, tableType) {
            var html;
            var title = ((pk == "") ? "Create New " : "Edit ") + tableType.substr(0,1).toUpperCase() + tableType.substr(1);

            html =  '<div id="popup">' +
                    '<h2 style="margin-bottom: 1em; text-align: center;">' + title + '</h2>' +
                    '<table>' + form + '</table>' +
                    '</div>';

            return html;
        }

        // Delete a listed item and restore the name back to the popup menu
        function deleteListItem(button, tableType) {
            /*
                Put the name back in the drop drown list if not 'new' (the item created by the 'new' choice won't
                match any menu item unless somebody uses the nsame as a menu item for some reason, but we're not
                going to worry about that.
             */

            var formSet = $("#" + tableType + "_formset");
            var id = $(button).parent().data('id');
            var menu = $("div").find("[data-box-id='" + tableType + "']");
            var name = $(button).parent().data('name');

            menu.children().filter(function() {
                return escapeQuote($(this).text().trim()) == name;
            }).attr("data-show", "1").show();

            // Remove the button and formset
            $(button).parent().remove();
            formSet.children().filter(function() {
                return $(this).attr("data-id") == id;
            }).remove();

            // Update formset
            var totalForms = $("#id_" + tableType + "-TOTAL_FORMS");
            totalForms.val(parseInt(totalForms.val()) - 1);

            // If no more items, show the 'no' message
            if ($("#" + tableType).find("div").length == 0) {
                $("#no_" + tableType + "_message").show();
            } else {
                var regex = new RegExp(tableType + "-\\d+");

                // Make sure formset items are numbered 0-totalForms
                formSet.find("div").each(function(index, value) {
                    var pattern = tableType + "-" + index;

                    $(value).find("label").each(function(index, value) {
                        var newValue = $(value).attr("for").replace(regex, pattern);
                        $(value).attr("for", newValue);
                    });

                    $(value).find("input").each(function(index, value) {
                        var newIDValue = $(value).attr("id").replace(regex, pattern);
                        var newNameValue = $(value).attr("name").replace(regex, pattern);
                        $(value).attr("id", newIDValue).attr("name", newNameValue);
                    });

                    $(value).find("select").each(function(index, value) {
                        var newIDValue = $(value).attr("id").replace(regex, pattern);
                        var newNameValue = $(value).attr("name").replace(regex, pattern);
                        $(value).attr("id", newIDValue).attr("name", newNameValue);
                    });
                });
            }

            submitButtonStatus();
        }

        /*
            Escape single quotes which is needed for those times when the text will have a single quote and be used
            in a jQuery expression which is also using single quotes
         */
        function escapeQuote(text) {
            return text.replace(/'/g, "\\'");
        }

        // Insert so that the list is alphabetical (by name)
        function insertListItem(sectionID, name, buttonHTML) {
            var inserted = false;

            $(sectionID).find("div").each(function(index, value) {
                if (name < $(value).data("name")) {
                    $(value).before(buttonHTML);
                    inserted = true;
                    return false;
                }
            });

            if (inserted == false) {
                $(sectionID).append(buttonHTML);
            }
        }

        function restoreButtons(tableType) {
            $("#" + tableType + "_formset").find("> div").each(function(index1, div) {
                var formVals = {};
                var id;
                var name = null;

                $(div).find("input, select").each(function(index2, input) {
                    if ($(input).attr("type") != "hidden") {
                        id = $(input).parent().data("id");
                        formVals[$(input).attr('name')] = $(input).val();
                        if ($(input).attr('name').indexOf("name") > -1) {
                            name = escapeQuote($(input).val());
                        }
                        preifx = $(input).attr('name');
                    }
                });

                // Add the ID using the same prefix
                formVals["id"] = id;

                var sectionInfo = {
                    "pk": $(".popr-item:contains('" + name + "')").data("pk"),
                    "table_type": tableType,
                    "total_forms": index1
                };

                validateForm(null, "Ok", null, formVals, sectionInfo, true, false);
            });
        }

        function showEditPopup(pk, info, sectionInfo, tableType, editMode) {
            var focus = (pk == "") ? "name" : "amount_0";

            $.prompt(
                createPopupHTML(pk, info["form"].replace(/id_/g, "popup_id_"), tableType),
                {
                    buttons: {
                        Ok: "Ok",
                        Cancel: "Cancel"
                    },
                    focus: "input[name='" + focus + "']",   // Seems to only work for "text" inputs in FF
                    submit: function(event, value, message, formVals) {
                        formVals["id"] = info["id"];
                        validateForm(event, value, message, formVals, sectionInfo, editMode, true)
                    }
                }
            );

            if (tableType == "bill" || tableType == "income") {
                var dateID = "#popup_id_" + tableType + "-" + sectionInfo["total_forms"] + "-date";
                $(dateID).datepicker(datePickerOptions);
            }
        }

        function submitButtonStatus() {
            var date = $("#id_statement-date").val().length;
            var items = 0;
            var submitButton = $("#submit_button");

            $.each(["account", "bill", "income"], function(index, tableType) {
                items += $("#" + tableType).find("div").length;
            });

            // Enable the submit button if we have a date and items on the statement
            if (date && items) {
                submitButton.prop("disabled", false);
            } else {
                submitButton.prop("disabled", true);
            }
        }

        function updateButtonSection(editMode, tableType, info, sectionInfo, updateFormSet) {
            var id = info["id"];
            var name = escapeQuote(info["name"]);

            var data = 'data-id="' + id + '" data-name="' + name + '"';
            var divBegin = '<div ' + data + '>';
            var nameSlug = getSlug(name);

            var buttonID = "id_" + tableType + "-" + id + "-" + nameSlug;

            var buttonHTML = divBegin +
                             '  <button id="' + buttonID + '">' +
                                  info["button_text"] +
                             '  </button>' +
                             '  <img style="cursor: pointer; margin-left: 0.5em;" ' +
                             '       src="{% static 'admin/img/icon_deletelink.gif' %}" ' +
                             '       alt="[Delete ' + tableType + ']" ' +
                             '       title="Delete ' + tableType + ' from list" ' +
                             '       onclick="deleteListItem(this, \'' + tableType + '\');" />' +
                             '</div>';

            /*
                Hide this in the drop down list if not the 'new' choice. No problems if the isn't
                on the drop down list because it's an edit and not a new entry.
             */
            if (sectionInfo['pk']) {
                var menu = $("div").find("[data-box-id='" + tableType + "']");
                menu.find("[data-pk='" + sectionInfo['pk'] + "']").attr("data-show", "0").hide();
            }

            // Update the formset if a new entry
            if (!editMode) {
                var totalForms = $("#id_" + tableType + "-TOTAL_FORMS");
                totalForms.val(parseInt(totalForms.val()) + 1);
            }

            // Update GUI
            $.prompt.close();
            if (editMode) {
                // Need to remove the existing button before we add the new one
                $("#" + tableType).find("[data-id='" + id + "']").remove();
            } else {
                /*
                    Only need to hide the "no" message for new entries. It will already be hidden
                    if doing an edit.
                 */
                $("#no_" + tableType + "_message").hide();
            }

            if (updateFormSet) {
                $("#" + tableType + "_formset").append(divBegin + info["form"] + '</div>');
            }
            insertListItem("#" + tableType, name, buttonHTML);
            submitButtonStatus();

            // Set up so clicking a button brings up the pop up to edit the item
            $("#" + buttonID).click(function(event) {
                event.preventDefault();
                showEditPopup(sectionInfo["pk"], info, sectionInfo, tableType, true);
            });
        }

        // Validate the values from the popup form
        function validateForm(event, value, message, formVals, sectionInfo, editMode, updateFormSet) {
            if (value == "Ok") {
                if (event) {
                    // Don't let the popup disappear until we know everything is alright
                    event.preventDefault();
                }

                formVals = $.extend(formVals, sectionInfo);

                $.post(
                    "{% url 'statement_section_form_validation' %}",
                    formVals,
                    function(encoded) {
                        var info = JSON.parse(encoded);
                        var tableType = sectionInfo["table_type"];

                        if (info["errors"]) {
                            $("#popup").html(createPopupHTML(tableType, info["errors"], tableType));
                            if (tableType == "bill" || tableType == "income") {
                                $("[id$=date]").datepicker(datePickerOptions);
                            }
                        } else {
                            if (formVals["id"]) {
                                info["id"] = formVals["id"];
                            } else {
                                info["id"] = globalItemID;
                                globalItemID -= 1;
                            }
                            updateButtonSection(editMode, tableType, info, sectionInfo, updateFormSet);
                        }
                    }
                ).fail(function(jqXHR, textStatus, errorThrown) {
                    $.prompt.close();
                    alert(
                        "Could not validate the information.\n\nError: " + jqXHR.responseText
                    );
                });
            }
        }
    </script>
{% endblock %}

{% block header %}{% if object %}Update{% else %}Create{% endif %} Statement{% endblock %}

{% block content %}
    <p>
        Fill out the form below and click <strong>{% if object %}Update{% else %}Create{% endif %}</strong> to
        {% if object %}update the statement{% else %}generate a new statement{% endif %}. Click the green plus
        sign (<img src="{% static 'admin/img/icon_addlink.gif' %}" />) to add an item to this statement.  Click the
        red x sign (<img src="{% static 'admin/img/icon_deletelink.gif' %}" />) to delete the item.
    </p>

    <hr />

    <form method="post">
        {% csrf_token %}

        <table style="margin-bottom: 2em;">
            {{ form.statement }}
        </table>

        <fieldset style="margin-top: 1em;">
            <legend>
                <strong>Accounts</strong>

                <span class="popr" data-id="account">
                    <img src="{% static 'admin/img/icon_addlink.gif' %}" alt="[Add Account]" title="Add Account" />
                </span>
            </legend>

            {{ form.account.management_form }}
            {{ form.account.non_form_errors }}

            <div id="account">
                {% ifequal form.account|length 0 %}
                    <p id="no_account_message" {% if form.account|length > 0 %}style="display: none;"{% endif %}>
                        There are currently no accounts to list.
                    </p>
                {% endifequal %}
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <strong>Bills</strong>

                <span class="popr" data-id="bill">
                    <img src="{% static 'admin/img/icon_addlink.gif' %}" alt="[Add Bill Transaction]"
                         title="Add Bill Transaction" />
                </span>
            </legend>

            {{ form.bill.management_form }}
            {{ form.bill.non_form_errors }}

            <div id="bill">
                <p id="no_bill_message" {% if form.bill|length > 0 %}style="display: none;"{% endif %}>
                    There are currently no bills to list.
                </p>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <strong>Income</strong>

                <span class="popr" data-id="income">
                    <img src="{% static 'admin/img/icon_addlink.gif' %}" alt="[Add Income Transaction]"
                         title="Add Income Transaction" />
                </span>
            </legend>

            {{ form.income.management_form }}
            {{ form.income.non_form_errors }}

            <div id="income">
                <p id="no_income_message" {% if form.income|length > 0 %}style="display: none;"{% endif %}>
                    There are currently no income transactions to list.
                </p>
            </div>
        </fieldset>

        <div class="buttons">
            <input id="submit_button" type="submit" value="{% if object %}Update{% else %}Create{% endif %}"
                   disabled="disabled" />
            <input type="reset" value="Reset" />
        </div>

        <div id="account_formset" style="display: none;">
            {% for subform in form.account %}
                <div data-id="{{ subform.id.value }}" data-name="{{ subform.name.value }}">
                    {{ subform }}
                </div>
            {% endfor %}
        </div>

        <div id="bill_formset" style="display: none;">
            {% for subform in form.bill %}
                <div data-id="{{ subform.id.value }}" data-name="{{ subform.name.value }}">
                    {{ subform }}
                </div>
            {% endfor %}
        </div>

        <div id="income_formset" style="display: none;">
            {% for subform in form.income %}
                <div data-id="{{ subform.id.value }}" data-name="{{ subform.name.value }}">
                    {{ subform }}
                </div>
            {% endfor %}
        </div>
    </form>

    <div class="popr-box" data-box-id="account">
        {% for choice in account_choices %}
            <div class="popr-item" data-pk="{{ choice.pk }}" data-show="1" data-type="account">
                {{ choice.name }}
            </div>
        {% endfor %}
        <div class="popr-item" data-pk="" data-type="account"><strong>New Account</strong></div>
    </div>

    <div class="popr-box" data-box-id="bill">
        {% for choice in bill_choices %}
            <div class="popr-item" data-pk="{{ choice.pk }}" data-show="1" data-type="bill">
                {{ choice.name }}
            </div>
        {% endfor %}
        <div class="popr-item" data-pk="" data-type="bill"><strong>New Bill</strong></div>
    </div>

    <div class="popr-box" data-box-id="income">
        {% for choice in income_choices %}
            <div class="popr-item" data-pk="{{ choice.pk }}" data-show="1" data-type="income">
                {{ choice.name }}
            </div>
        {% endfor %}
        <div class="popr-item" data-pk="" data-type="income"><strong>New Income</strong></div>
    </div>

    <div id="confirmDialog" title="Missing Entries">
        <p>The following entries were not used:</p>

        <section id="missing_entries" style="margin-left: 1em;"></section>

        <p style="margin-top: 2em;">What would you like to do?</p>
    </div>

    {% include 'busy.html' %}
{% endblock %}
