{% extends "base.html" %}
{% load static %}

{% block title %}Finances: Statement for {{ object.date|date:"F d, Y" }}{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <style type="text/css">
        table.statement {
            border: 2px outset black;
            border-collapse: collapse;
            border-spacing: 2px;
            table-layout: fixed;
            width: 50em;
        }

        table.statement.td {
            border: 2px inset;
            padding: 1px;
        }

        tr.row1 td {
            background-color: #C0C0C0; color: black;
        }

        tr.row2 td {
            background-color: white; color: black;
        }

        table.totals {
            text-align: right;
            width: 50em;
        }

        table.totals td.totals {
            width: 88%;
        }

        .options {
            font-size: 80%;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".option").tooltip();
        });
    </script>
{% endblock %}

{% block header %}Statement for {{ object.date|date:"F d, Y" }}{% endblock %}

{% block content %}
    <table>
        {% with data=object.account_set.all label="Accounts" total=total.account %}
            {% include "finances/statement/_section_table.html" %}
        {% endwith %}
    </table>

    <table>
        {% with data=object.bill_set.all label="Bills" total=total.bill %}
            {% include "finances/statement/_section_table.html" %}
        {% endwith %}
    </table>

    <table>
        {% with data=object.income_set.all label="Income" total=total.income %}
            {% include "finances/statement/_section_table.html" %}
        {% endwith %}
    </table>

    <p style="font-style: italic; font-weight: bold; margin-top: 1em;">
        The amount left over after paying bills is
        <span style="color: {% if diff < 0 %}red{% else %}green{% endif %};">
            {{ diff }}
        </span>
    </p>
{% endblock %}
