Django==3.2.24
django-betterforms==1.2
django-easy-pdf==0.1.1
django-money==0.9.1
django-settings-export==1.2.1
django-system-globals==0.0.8
html5lib==1.0.1
https://github.com/adamestein/django-tekextensions/archive/v0.0.7.zip
mysqlclient==1.4.4
py-moneyed==0.6.0
python-dateutil==2.5.3
reportlab==3.6.13
xhtml2pdf==0.2.11
