<div id="table">
    <div class="header-row row">
        <span class="cell primary">Name</span>
        <span class="cell">Account Number</span>
        <span class="cell">Amount</span>
        <span class="cell">Arrival Day</span>
        <span class="cell">Options</span>
    </div>

    {% for template in templates %}
        <div class="row">
            <input type="radio" name="expand" title="expand">
            <span class="cell primary" data-label="Name">
                <a href="{% url 'edit_template' 'income' template.pk %}">{{ template.name }}</a>
            </span>
            <span class="cell" data-label="Account Number">
                {% if template.account_number %}
                    {{ template.account_number }}
                {% endif %}
            </span>
            <span class="cell" data-label="Amount">
                {% if template.amount %}
                    {{ template.amount }}
                {% endif %}
            </span>
            <span class="cell" data-label="Arrival Day">
                {% if template.arrival_day %}
                    {{ template.arrival_day }}
                {% endif %}
            </span>
            <span class="cell-left_align" data-label="Options">
                {% if template.options.count %}
                    {% for option in template.options.all %}
                        {% if not forloop.first %}
                            <br />
                        {% endif %}
                        &bull; {{ option.name }}
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    {% endfor %}
</div>
