<div id="table">
    <div class="header-row row">
        <span class="cell primary">Name</span>
        <span class="cell">Acct Number</span>
        <span class="cell">Amount</span>
        <span class="cell">Due Day</span>
        <span class="cell">URL</span>
        <span class="cell">Snap #</span>
        <span class="cell">Options</span>
    </div>

    {% for template in templates %}
        <div class="row">
            <input type="radio" name="expand" title="expand">
            <span class="cell primary" data-label="Name">
                <a href="{% url 'edit_template' 'bill' template.pk %}">{{ template.name }}</a>
            </span>
            <span class="cell" data-label="Acct Number">
                {% if template.account_number %}
                    {{ template.account_number }}
                {% endif %}
            </span>
            <span class="cell" data-label="Amount">
                {% if template.amount %}
                    {{ template.amount }}
                {% endif %}
            </span>
            <span class="cell" data-label="Due Day">
                {% if template.due_day %}
                    {{ template.due_day }}
                {% endif %}
            </span>
            <span class="cell" data-label="URL">
                {% if template.url %}
                    <a href="{{ template.url }}" target="_blank">{{ template.short_url }}</a>
                {% endif %}
            </span>
            <span class="cell" data-label="Snap #">
                {{ template.snap_section }}
            </span>
            <span class="cell-left_align" data-label="Options">
                {% if template.options.count %}
                    {% for option in template.options.all %}
                        {% if not forloop.first %}
                            <br />
                        {% endif %}
                        &bull; {{ option.name }}
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    {% endfor %}
</div>
