.buttons {
    margin-top: 2em;
}

.errorlist li {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table {
    border-collapse: collapse;
}

td {
    padding-bottom: 0.5em;
}

th {
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
}
