{% extends "base.html" %}
{% load dict %}

{% block title %}Smoke Detector Applications{% endblock %}

{% block header %}Smoke Detector Applications{% endblock %}

{% block content %}
    <p>
        Keep track of smoke detectors and when the batteries are changed.
    </p>

    <table class="table_list">
        {% for nav_item in apps|dict_lookup:'Smoke Detectors'|dict_lookup:'navigation' %}
            <tr>
                <td>
                    {% if nav_item.link %}
                        <a href="{% url nav_item.link %}">{{ nav_item.title }}</a>
                    {% else %}
                        {{ nav_item.title }}
                    {% endif %}
                </td>
                <td><span class="table_desc">{{ nav_item.desc }}</span></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
