{% extends "base.html" %}
{% load format %}

{% block title %}Smoke Detector Applications{% endblock %}

{% block header %}Smoke Detector Applications{% endblock %}

{% block content %}
    <p>
        Keep track of smoke detectors and when the batteries are changed.
    </p>

    <table class="table_list">
        <tr>
            <td><a href="">Add Smoke Detector</a></td>
            <td><span class="table_desc">Add a new smoke detector</span></td>
        </tr>

        <tr>
            <td><a href="">Edit Smoke Detector</a></td>
            <td><span class="table_desc">Edit an existing smoke detector</span></td>
        </tr>

        <tr>
            <td><a href="">Delete Smoke Detector</a></td>
            <td><span class="table_desc">Delete an existing smoke detector</span></td>
        </tr>

        {% rspacer "0.8em" %}

        <tr>
            <td><a href="{% url 'list_smoke_detectors' %}">List Smoke Detectors</a></td>
            <td><span class="table_desc">Delete an existing smoke detector</span></td>
        </tr>

        {% rspacer "0.8em" %}

        <tr>
            <td><a href="">Add Change Battery Event</a></td>
            <td><span class="table_desc">Indicate when batteries have been changed</span></td>
        </tr>
    </table>
{% endblock %}
