{% extends "base.html" %}
{% load static %}

{% block title %}Smoke Detectors: Add Smoke Detector{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static 'css/form_table.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}

    {{ form.media }}
{% endblock %}

{% block header %}Add Smoke Detector{% endblock %}

{% block content %}
    <p>
        Set the <strong>Location</strong> and <strong>Battery type</strong> fields to the desired value. Click
        <em>{% if object %}Update{% else %}Add{% endif %}</em> to save your changes or <em>Reset</em> to reset
        the form.
    </p>

    <p>
        Use the green plus signs (<img src="{% static 'admin/img/icon_addlink.gif' %}">) to add new locations and
        battery types.
    </p>

    <hr />

    <form method="post">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        <div class="buttons">
            <input type="submit" value="{% if object %}Update{% else %}Add{% endif %}" />
            <input type="reset" value="Reset" />
        </div>
    </form>
{% endblock %}
