{% extends "base.html" %}

{% block title %}
    Home Applications
{% endblock %}

{% block header %}
    Home Applications
{% endblock %}

{% block content %}
    <p>
        Applications to help track information in the home.
    </p>

    <table class="table_list">
        {% for name, info in apps.items %}
            <tr>
                <td><a href="{% url info.url_name %}">{{ info.name }}</a></td>
                <td><span class="table_desc">{{ info.desc }}</span></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
