<div id="table">
    <div class="header-row row">
        <span class="cell primary">Name</span>
        <span class="cell">Account Number</span>
        <span class="cell">Amount</span>
        <span class="cell">Total</span>
        <span class="cell">Due Day</span>
        <span class="cell">URL</span>
    </div>

    {% for template in templates %}
        <div class="row">
            <input type="radio" name="expand" title="expand">
            <span class="cell primary" data-label="Name">{{ template.name }}</span>
            <span class="cell" data-label="Account Number">
                {% if template.account_number %}
                    {{ template.account_number }}
                {% endif %}
            </span>
            <span class="cell" data-label="Amount">
                {% if template.amount %}
                    {{ template.amount }}
                {% endif %}
            </span>
            <span class="cell" data-label="Total">
                {% if template.total %}
                    {{ template.total }}
                {% endif %}
            </span>
            <span class="cell" data-label="Due Day">
                {% if template.due_day %}
                    {{ template.due_day }}
                {% endif %}
            </span>
            <span class="cell" data-label="URL">
                {% if template.url %}
                    <a href="{{ template.url }}" target="_blank">{{ template.url }}</a>
                {% endif %}
            </span>
        </div>
    {% endfor %}
</div>