{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <style>
        label {
            display: block;
            margin: 30px 0 0 0;
        }
        select {
            width: 200px;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#account, #bill, #income").selectmenu({
                change: function(event, ui) {
                    var url = "{% url 'edit_template' 'type' 0 %}";
                    window.location.href = url.replace("type", ui.item.optgroup).replace("0", ui.item.value);
                }
            });
        });
    </script>
{% endblock %}

{% block title %}Finances: Edit Template{% endblock %}

{% block header %}Edit Template{% endblock %}

{% block content %}
    {% if total_templates %}
        <p>
           Select the template to edit or disable.
        </p>

        <hr />

        {% for name, items in templates.items %}
            {% if items|length %}
                <label for="{{ name }}">{{ name|title }}</label>
                <select id="{{ name }}">
                    <optgroup label="{{ name }}">
                        <option value="0" selected="selected">---------</option>
                        {% for item in items %}
                            <option value="{{ item.pk }}">{{ item }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no templates to edit.</p>
    {% endif %}
{% endblock %}
