{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static 'css/list_table.css' %}" />
{% endblock %}

{% block title %}Finances: List Templates{% endblock %}

{% block header %}List Templates{% endblock %}

{% block content %}
    <p>
        This page will list all the templates defined in the system.
    </p>

    {% if object_list %}
        <div id="table">
            <div class="header-row row">
                <span class="cell primary">Name</span>
                <span class="cell">Account Number</span>
            </div>

            {% for template in object_list %}
                <div class="row">
                    <input type="radio" name="expand" title="expand">
                    <span class="cell primary" data-label="Name">{{ template.name }}</span>
                    <span class="cell" data-label="Account Number">
                        {% if template.account_number %}
                            {{ template.account_number }}
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no templates to list.</p>
    {% endif %}
{% endblock %}
