{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static 'css/list_table.css' %}" />
{% endblock %}

{% block title %}Finances: List Templates{% endblock %}

{% block header %}List Templates{% endblock %}

{% block content %}
    {% if total_templates %}
        <p>
            This page will list all the templates defined in the system.
        </p>

        <hr />

        {% for name, items in templates.items %}
            {% if items|length %}
                <div class="caption" {% if not forloop.first %}style="margin-top: 2em;"{% endif %}>{{ name|title }}
                </div>

                {% with html_name='finances/_list_'|add:name|add:'_templates.html' %}
                    {% include html_name with templates=items %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no templates to list.</p>
    {% endif %}
{% endblock %}
